
<h2 class="sub-header"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> Create folder</h2>

<form method="post" action="/webmail/create">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    {{> mailbox}}

    <div class="form-group">
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create</button>
    </div>

</form>
