<div class="row">
    <div class="col-md-12">
        <h1><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create filter</h1>
    </div>
</div>


<form method="post" action="/account/filters/create">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    {{> filter}}

    <div class="form-group">
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Create filter</button>
    </div>

</form>
