name="Wild Duck Mail"

title="wildduck-www"

[service]
    # email domain for new users
    domain="localhost"
    # default quotas for new users
    quota=1024
    recipients=2000
    forwards=2000
    identities=10
    allowIdentityEdit=true
    allowJoin=true
    enableSpecial=false # if true the allow creating addresses with special usernames
    # allowed domains for new addresses
    domains=["localhost"]

    generalNotification="" # static notification to show on top of the page

    [service.sso.http]
        enabled = false
        header = "X-UserName" # value from this header is treated as logged in username
        authRedirect = "http:/127.0.0.1:3000/login" # URL to redirect non-authenticated users
        logoutRedirect = "http:/127.0.0.1:3000/logout"  # URL to redirect when user clicks on "log out"

[api]
    url="http://127.0.0.1:8080"
    accessToken=""

[dbs]
    # mongodb connection string for the main database
    mongo="mongodb://127.0.0.1:27017/archive"

    # redis connection string for Express sessions
    redis="redis://127.0.0.1:6379/5"

[www]
    host=false
    port=3000
    proxy=false
    postsize="5MB"
    log="dev"
    secret="a cat"
    secure=false
    # cert=""
    # key=""
    listSize=20

[recaptcha]
    enabled=false
    siteKey=""
    secretKey=""

[totp]
    # Issuer name for TOTP, defaults to config.name
    issuer=false
    # once setup do not change as it would invalidate all existing 2fa sessions
    secret="a secret cat"

[u2f]
    # set to false if not using HTTPS
    enabled=true
    # must be https url or use default
    #appId="https://127.0.0.1:8080"

[log]
    level="silly"
    mail=true

[setup]
    # these values are shown in the configuration help page
    [setup.imap]
        hostname="localhost"
        secure=true
        port=9993
    [setup.pop3]
        hostname="localhost"
        secure=true
        port=9995
    [setup.smtp]
        hostname="localhost"
        secure=false
        port=2587
